body {
    background-color: #f5d9d5;
    font-family: "Nunito", sans-serif;
}


/*      NAVBAR       */

#main-navbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#main-navbar .nav-link {
    color: white;
    text-decoration: none;
}

#main-navbar .nav-link:hover {
    color: #EA1C2C;
}

#main-navbar .navbar-brand {
    color: #EA1C2C;
}

/*      MAIN SECTION         */
#heading-group span {
    color: #EA1C2C;
}

#heading-group h1 {
    font-weight: 100;
    font-size: 4rem;
}

/*      MEDIA QUERIES        */
@media (max-width: 1400px) {
    #heading-group h1 {
        font-weight: 100;
        font-size: 3rem;
    }
}
