<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home EJS</title>

    <link rel="stylesheet" href="/index.css">

</head>

<body>
    <h1>Home Page! <%= 1+2 %> </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui atque tempore soluta laborum itaque dicta
        perferendis, eligendi eius illum voluptatibus repellendus incidunt libero in odit, adipisci ex eveniet minima
        repudiandae?</span><span>Perspiciatis molestias voluptas accusamus impedit quisquam, veniam unde saepe
            voluptatibus quas delectus expedita minus ad vel vero tempore temporibus blanditiis doloremque id adipisci
            illo distinctio. Quibusdam itaque quisquam asperiores recusandae.</p>

</body>

</html>